<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
	<title>Entrylist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1>Vauvanhoito päiväkirja</h1>
	<div class="col-md-4">
		<h3 th:inline="text">Tervetuloa [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Pvm</th>
				<th>Yöimetys</th>
				<th>Päiväimetys</th>
				<th>Kakkavaipat</th>
				<th>Pissavaipat</th>
				<th>Muuta</th>
				<th>Kategoria</th>
				<th sec:authorize="hasAuthority('ADMIN')">Poista</th>
				<th sec:authorize="hasAuthority('ADMIN')">Muokkaa</th>
			</tr>
			<tr th:each = "entry : ${entries}">
				<td th:text = "${entry.entrydate}"></td>
				<td th:text = "${entry.nightnursing}"></td>
				<td th:text = "${entry.daynursing}"></td>
				<td th:text = "${entry.poopdiaper}"></td>
				<td th:text = "${entry.peediaper}"></td>
				<td th:text = "${entry.other}"></td>
				<td th:text="${entry.category.name}"></td> 
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${entry.id})}" class="btn btn-xs btn-danger">Poista</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${entry.id})}" class="btn btn-xs btn-info">Muokkaa</a></td>
			</tr>
		</tbody>
	</table>     
	<a href="/add" class="btn btn-success">Lisää merkintä</a>
</body>
</html>